/* ContactSection.css */

.contact-section {
  background-color: #f8f9fa;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.contact-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #333;
  position: relative;
}

.contact-title::after {
  content: "";
  width: 60px;
  height: 3px;
  background: teal;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.contact-subtitle {
  text-align: center;
  color: #777;
  font-size: 1rem;
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form-group {
  margin-bottom: 20px;
}

.contact-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.contact-form-group input,
.contact-form-group textarea {
  width: 800px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border 0.3s;
  max-width: 95%;
}

.contact-form-group input:focus,
.contact-form-group textarea:focus {
  border-color: teal;
  outline: none;
}

.submit-button {
  background-color: teal;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: rgb(159, 184, 184);
}
