/* HeroSection.css */

.hero-section {
    background-image: url('/src/assets/images/image1.jpg'); /* Absolute path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 100px 20px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  
  
  .hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: 1; /* Place it above the background image */
  }
  
  .hero-content {
    position: relative; /* Make sure the content is above the overlay */
    z-index: 2;
    max-width: 800px; /* Limit the width of the content */
  }
  
  .hero-title {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 700;
    color: aliceblue;
  }
  
  .hero-description {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: white;
  }
  
  .hero-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .hero-button:hover {
    background-color: #0056b3;
  }
  